<section class="section record" id="record"><div class="container">
  <header class="record__intro"><h2>{{ copy.record_title }}</h2><p>{{ copy.record_intro }}</p></header>
  {% assign core_papers = site.data.publications.main | where: 'group', 'core' %}
  <ol class="pubs record__citations">{% for pub in core_papers %}{% include publication_item.html %}{% endfor %}</ol>
  <div class="record__more"><a href="{{ home }}publications/">{{ ui.record }} & {{ ui.resources }}</a><a href="{{ home }}activities/">{{ ui.service }}</a><a href="{{ home }}news/">{{ ui.more }}</a></div>
</div></section>
